.emprendimiento-container {
    padding: 5rem;
}

#emprendimiento-name {
    font-size: 3rem;
    font-family: "Futura Bold", sans-serif;
    margin-bottom: 20px;
}

.emprendimiento-details {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.emprendimiento-details i{
    font-size: xx-large;
    padding-bottom: 15px;
}

.emprendimiento-content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.emprendimiento-image-container {
    width: 100%;
    height: 500px;
}

.emprendimiento-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid var(--color-primary-light);
}

.emprendimiento-descripcion,
.emprendimiento-direccion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    width: max-content;
}

.emprendimiento-details {
    align-items: stretch;
}

.emprendimiento-details > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.emprendimiento-text {
    max-width: 300px;
}

.edit-buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.edit-cancel-btn,
.edit-emprendimiento-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-primary);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  white-space: nowrap;
}

.edit-cancel-btn p,
.edit-emprendimiento-btn p {
  margin: 0;
}


.edit-cancel-btn:hover,
.edit-emprendimiento-btn:hover {
    background-color: var(--color-primary-light);
}

.edit-form-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    font-size: 3rem;
    font-family: "Futura Bold", sans-serif;
    margin-bottom: 20px;
}

.edit-form-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    font-size: 1rem;
    resize: none;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

@media (max-width: 1500px) {
    .emprendimiento-content {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .emprendimiento-details {
        flex-direction: column;
    }
}