<body>
    <main>
        <section class="indication">
            <p>Aqu칤 puedes crear un nuevo anuncio, evento o noticia.</p>
        </section>
        <form id="formulario-anuncio" enctype="multipart/form-data">
            <div class="field-container">
                <label for="tipo">Tipo de publicaci칩n</label>
                <select name="type" id="tipo" required>
                    <option class="option-default" value="" disabled selected>Selecciona una opci칩n</option>
                    <option value="anuncio">游닉 Anuncio</option>
                    <option value="evento">游늰 Evento</option>
                    <option value="noticia">游닗 Noticia</option>
                </select>
                <small class="input-requirements" id="tipo-requisitos">Debes seleccionar un tipo.</small>
            </div>

            <div class="field-container">
                <label for="titulo">T칤tulo</label>
                <input type="text" id="titulo" name="title" placeholder="Escribe el t칤tulo del anuncio" required />
                <small class="input-requirements" id="titulo-requisitos">M치ximo 100 caracteres. Solo texto y n칰meros.</small>
            </div>

            <div class="field-container">
                <label for="descripcion">Descripci칩n</label>
                <textarea id="descripcion" name="description" placeholder="Escribe aqu칤 la descripci칩n del evento o noticia" rows="5" required></textarea>
                <small class="input-requirements" id="descripcion-requisitos">Debe tener al menos 20 caracteres.</small>
            </div>

            <div class="field-container">
                <label for="imagen">Imagen (opcional)</label>
                <input type="file" id="imagen" name="image" accept="image/*" />
                <small class="input-requirements" id="imagen-requisitos">Formatos permitidos: JPG, PNG, WEBP.</small>
                <div class="image-preview-container">
                    <p class="preview-text">Vista previa de la imagen seleccionada:</p>
                    <img id="preview-img" src="" alt="Vista previa"/>
                </div>
            </div>

            <button type="submit">Publicar</button>
        </form>
    </main>
    <script src="/js/previewSelectedImage.js"></script>
    <script src="/js/validateAnnouncement.js"></script>
</body>
</html>
