<body class="auth-page">
    <div class="login-box">
        <h2>Modificar contraseña</h2>
        <p class="subtitulo">
        Escribe tu nueva contraseña a continuación, asegúrate de que sea segura y guárdala en un lugar seguro.
        </p>

        <form action="/auth/password-reset/reset-password" method="POST">
            <input type="hidden" name="token" value="<%= token %>">

            <label for="password">Nueva contraseña</label>
            <input type="password" id="password" name="password" placeholder="********" required>
            <small class="input-requirements" id="password-requisitos">Debe tener minúsculas, mayúsculas y números (8-14 caracteres).</small>

            <label for="confirm_password">Confirmar contraseña</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="********" required>
            <small class="input-requirements" id="confirm-password-requisitos">Las contraseñas deben coincidir.</small>

            <button type="submit">Guardar contraseña</button>

            <hr />

            <p class="auth-link">
                ¿Recordaste tu contraseña? <a href="/auth/inicio-sesion">Inicia sesión aquí.</a>
            </p>
        </form>
    </div>
    <div id="mensaje-exito" class="mensaje-exito oculto"></div>
    <div id="mensaje-error" class="mensaje-error oculto"></div>
    <script src="/js/validateRecoverPassword.js"></script>
</body>