
<body>
    <main>
        <!--HERO NOTICIAS SECTION-->
        <div class="hero content-container">
            <div class="hero-text">
                <% if (anuncio) { %>
                <div class="noticia-container">
                    <p class="fecha">Fecha: <%= new Date(anuncio.date).toLocaleDateString('es-CR', { day: 'numeric', month: 'long', year: 'numeric' }) %></p>
                    <h2 class="subtitle noticia-title"><%= anuncio.title %></h2>
                    <hr>
                    <p class="noticia-description"><%= anuncio.description %></p>
                </div>
                <% if (!user) { %>
                    <div class="cta-container">
                        <p class="cta-hero-text">
                            Para noticias como estas y más. Si quieres estar al tanto de la información más reciente de la comunidad ->
                        </p>
                        <div class="cta-hero-buttons">
                            <a href="/auth/inicio-sesion" class="cta-hero-button" type="button">Iniciar sesión</a>
                            <a href="/auth/registrarse" class="cta-hero-button" type="button">Registrarse</a>
                        </div>
                    </div>
                <% } %>
                <% } else { %>
                <div class="noticia-container no-news">
                    <p>"¡Atento! Muy pronto tendremos noticias nuevas y súper interesantes para vos. ¡No te las pierdas!"</p>
                    <% if (!user) { %>
                    <div class="cta-container">
                        <p class="cta-hero-text">
                        ¿Querés ser el primero en enterarte? Registrate y no te pierdas nada.
                        </p>
                        <div class="cta-hero-buttons">
                        <a href="/auth/registrarse" class="cta-hero-button" type="button">Registrarse</a>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>

            <img 
                class="hero-content" 
                src="<%= anuncio?.image ? '/uploads/' + anuncio.image : '/images/default.jpeg' %>" 
                alt="Imagen de la noticia"
            />
        </div>
        <!--MAPA INTERACTIVO SECTION-->
        <div class="mapa-interactivo content-container">
            <div class="mapa-interactivo-text">
                <h2 class="subtitle">Mapa interactivo</h2>
                <p>Explora el cantón de Desamparados a través de nuestro mapa interactivo. Encuentra lugares de interés, servicios y más.</p>
            </div>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.1234567890123!2d-84.12345678901234!3d9.876543210987654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x0000000000000000!2sDesamparados%2C+San+José%2C+Costa+Rica!5e0!3m2!1sen!2scr!4v1616161616161" width="100%" height="700" style="border:5;" allowfullscreen loading="lazy"></iframe>
            </div>
        </div>
        <!--CONOZCA SU CANTÓN SECTION-->
        <div class="conozca-su-canton content-container">
            <h2 class="subtitle">Conozca su cantón</h2>
            <p>Explora el cantón de Desamparados a través de nuestro mapa interactivo. Encuentra lugares de interés, servicios y más.</p>
            <div class="conozca-su-canton-cards-container">
                <div class="conozca-su-canton-card">
                    <i class="bx bxs-bus"></i>
                    <h3>
                        Transporte Público
                    </h3>
                    <p>Conozca los horarios y rutas de los autobuses que pasan por el cantón</p>
                    <a href="/horario-buses" class="go-to-link">Ver más</a>
                </div>
                <div class="conozca-su-canton-card">
                    <i class="bx bxs-store"></i>
                    <h3>
                        Emprendimientos
                    </h3>
                    <p>Descubra los emprendimientos locales del cantón. Desde tiendas hasta servicios, apoye a los emprendedores locales.</p>
                    <a href="/emprendimientos" class="go-to-link">Ver más</a>
                </div>
                <div class="conozca-su-canton-card">
                    <i class="bx bxs-megaphone"></i>
                    <h3>
                        Quejas y Sugerencias
                    </h3>
                    <p>¿Tienes alguna queja sobre el cantón? ¿O quizá alguna sugerencia para poder mejorarlo? Puedes compartir tu opinión haciendo click en</p>
                    <a href="/sugerencias" class="go-to-link">Ver más</a>
                </div>
                <div class="conozca-su-canton-card">
                    <i class="bx bxs-news"></i>
                    <h3>
                        Noticias
                    </h3>
                    <p>Infórmese de las ultimas noticias de Desamparados</p>
                    <a href="/noticias-anuncios-eventos" class="go-to-link">Ver más</a>
                </div>
            </div>
        </div>
    </main>
    <script src="../JS/sidebarToggleMobile.js" defer></script>
</body>