<footer>
    <div class="footer-logo-cta">
        <div class="logo-container">
            <img class="logo" src="../../Public/Images/logo-desamparados.png" alt="Logo cantón desamparados PNG">
            <div class="title-container">
                <h2>Núcleo Desamparados</h2>
                <p>Conectando a la comunidad</p>
            </div>
        </div>
        <a href="../HTML/Formularios/form-tiquete.html" class="cta-button">
            <i class="bx bxs-message"></i>
            Tienes alguna queja o sugerencia, comunícala aquí.
        </a>
    </div>
    <p class="copyright">&copy 2025 SyntaxIA</p>
</footer>