<nav class="sidebar">
    <div class="sidebar-header">
        <div>
            <div class="logo-content-container">
                <div class="logo-container">
                    <img class="logo" src="/images/logo-desamparados.png" alt="Logo cantón desamparados PNG">
                    <div class="title-container">
                        <h2>Núcleo Desamparados</h2>
                        <p>Conectando a la comunidad</p>
                    </div>
                </div>
                <button type="button" class="sidebar-toggle-close">
                    <i class="bx bx-x-circle"></i>
                </button>
            </div>
        </div>
        <div class="auth-container">
            <div class="user-profile">
                <a href="/perfil.html" class="user-avatar" id="avatar">JF</a>
                <div class="user-info">
                    <p class="username" id="username" data-fullname="John_F_25022">John_F_25022</p>
                    <p class="rol">Ciudadano</p>
                </div>
            </div>
            <div class="auth-buttons">
                <a href="/auth/inicio-sesion" class="auth-btn" type="button">Iniciar sesión</a>
                <a href="/auth/registrarse" class="auth-btn" type="button">Registrarse</a>
            </div>
        </div>
    </div>
    <ul class="sidebar-links-container" id="sidebar-links-admin">
        <li class="sidebar-link">
            <a href="../../HTML/Administrador/panel-administrador.html">
                <i class="bx bxs-dashboard"></i>
                <span>Panel de Administrador</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="../Formularios/form-anuncio-evento-noticia.html">
                <i class="bx bxs-news"></i>
                <span>Nueva noticia o anuncio</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="../../HTML/Administrador/admin-usuarios.html">
                <i class="bx bxs-user"></i>
                <span>Usuarios</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="../../HTML/Administrador/admin-aprobaciones.html">
                <i class="bx bx-check-square"></i>
                <span>Aprobación y Moderación</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="../../HTML/Administrador/admin-tiquetes.html">
                <i class="bx bx-message-check"></i>
                <span>Tiquetes</span>
            </a>
        </li>
    </ul>
    <ul class="sidebar-links-container" id="sidebar-links-emprendedor">
        <li class="sidebar-link">
            <a href="../../HTML/index.html">
                <i class="bx bxs-store-alt"></i>
                <span>Mi emprendimiento</span>
            </a>
        </li>
    </ul>
    <ul class="sidebar-links-container" id="sidebar-links-ciudadano">
        <li class="sidebar-link">
            <a href="/">
                <i class="bx bxs-home"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="/noticias-anuncios-eventos.html">
                <i class="bx bxs-news"></i>
                <span>Noticias</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="/emprendimientos.html">
                <i class="bx bxs-store"></i>
                <span>Emprendimientos</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="/sugerencias.html">
                <i class="bx bxs-megaphone"></i>
                <span>Quejas y sugerencias</span>
            </a>
        </li>
        <li class="sidebar-link">
            <a href="/horario-buses.html">
                <i class="bx bxs-bus"></i>
                <span>Horario de Buses</span>
            </a>
        </li>
    </ul>
</nav>