header {
    padding: 20px;
    font-size: x-large;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-toggle-open {
    font-size: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    transition: color 0.3s ease;
}

.sidebar-toggle-open > i:hover {
    color: var(--color-primary-light);
}

header hr {
    margin-top: 10px;
    border-color: rgba(255, 255, 255, 0.591);
}

@media (max-width: 768px) {
    .sidebar-toggle-open {
        display: block;
    }
}