<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Núcleo Desamparados | Mi Emprendimiento</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> <!-- Importando fuente de letra Inter -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Importando Boxicons -->
    <link rel="stylesheet" href="../../CSS/styles.css">
    <link rel="stylesheet" href="../../CSS/Paginas/mi-emprendimiento.css">
    <link rel="stylesheet" href="../../CSS/Componentes/sidebar.css">
    <link rel="stylesheet" href="../../CSS/Componentes/header.css">
    <link rel="stylesheet" href="../../CSS/Componentes/footer.css">
</head>
<body>
    <nav class="sidebar">
        <div class="sidebar-header">
            <div>
                <div class="logo-content-container">
                    <div class="logo-container">
                        <img class="logo" src="../../../Public/Images/logo-desamparados.png" alt="Logo cantón desamparados PNG">
                        <div class="title-container">
                            <h2>Núcleo Desamparados</h2>
                            <p>Conectando a la comunidad</p>
                        </div>
                    </div>
                    <button type="button" class="sidebar-toggle-close">
                        <i class="bx bx-x-circle"></i>
                    </button>
                </div>
            </div>
            <div class="auth-container">
                <div class="user-profile">
                    <a href="../Autenticacion/perfil.html" class="user-avatar" id="avatar">JD</a>
                    <div class="user-info">
                        <p class="username" id="username">John_Design_24</p>
                        <p class="rol">Emprendedor</p>
                    </div>
                </div>
                <div class="auth-buttons">
                    <button class="auth-btn" type="button">Iniciar sesión</button>
                    <button class="auth-btn" type="button">Registrarse</button>
                </div>
            </div>
        </div>
        <ul class="sidebar-links-container" id="sidebar-links-emprendedor">
            <li class="sidebar-link">
                <a href="../../HTML/index.html">
                    <i class="bx bxs-store-alt"></i>
                    <span>Mi emprendimiento</span>
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="header-content">
            <button type="button" class="sidebar-toggle-open">
                <i class="bx bx-menu"></i>
            </button>
            <h1>Mi emprendimiento</h1>
        </div>
        <hr>
    </header>
    <main class="emprendimiento-container">
        <div class="emprendimiento-content">
            <div class="emprendimiento-info">
                <div class="emprendimiento-header">
                    <h2 id="emprendimiento-name" class="active">
                        Joyería Yurusti
                    </h2>
                    <div class="edit-form-container inactive">
                        <input class="edit-form-input" id="emprendimiento-name-input" type="text">
                        <small class="error-message inactive">Error, campo no puede estar vacío</small>
                    </div>
                    <div class="edit-buttons-container">
                        <button class="edit-emprendimiento-btn" id="toggle-edition-btn" type="button">
                            <i class="bx bxs-edit"></i>
                            <p class="edit-btn-text">Editar emprendimiento</p>
                        </button>
                        <button class="edit-cancel-btn inactive" id="cancel-edition" type="button">
                            <p class="edit-btn-text">Cancelar cambios</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="emprendimiento-details">
                        <div class="emprendimiento-descripcion">
                            <i class="bx bxs-info-circle"></i>
                            <p class="emprendimiento-text active">
                                Joyería artesanal que ofrece una variedad de productos hechos a mano, incluyendo anillos, pulseras y collares. Cada pieza es única y refleja la pasión por el arte de la joyería.
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                class="edit-form-textarea" 
                                name="emprendimiento-descripcion" 
                                id="emprendimiento-descripcion-textarea"></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                        <div class="emprendimiento-direccion">
                            <i class="bx bxs-map"></i>
                            <p class="emprendimiento-text active">
                                Desamparados, San José, Costa Rica, 100 metros Este de la Plaza de Deportes.
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                class="edit-form-textarea"
                                name="emprendimiento-direccion" 
                                id="emprendimiento-direccion-textarea"></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emprendimiento-image-container">
                <button class="edit-img-btn inactive" id="edit-img-trigger" type="button">
                    <i class="bx bxs-image"></i>
                    Cambiar imagen
                </button>
                <input type="file" id="edit-img-input" accept="image/*" class="edit-img-input inactive">
                <img 
                    src="https://www.karati.com/cdn/shop/articles/shutterstock_339969596-scaled.jpg?v=1740228325&width=2048" 
                    alt="nombre del emprendimiento"
                    id="emprendimiento-img"
                />
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-logo-cta">
            <div class="logo-container">
                <img class="logo" src="../../../Public/Images/logo-desamparados.png" alt="Logo cantón desamparados PNG">
                <div class="title-container">
                    <h2>Núcleo Desamparados</h2>
                    <p>Conectando a la comunidad</p>
                </div>
            </div>
            <a href="../../HTML/Formularios/form-tiquete.html" class="cta-button">
                <i class="bx bxs-message"></i>
                Tienes alguna queja o sugerencia, comunícala aquí.
            </a>
        </div>
        <p class="copyright">&copy 2025 SyntaxIA</p>
    </footer>
    <script src="../../JS/sidebarToggleMobile.js"></script>
    <script src="../../JS/fetchEmprendimiento.js"></script>
    <script src="../../JS/editEmprendimientoInfo.js"></script>
</body>
</html>