<body>
    <main class="emprendimiento-container">
        <div class="emprendimiento-content">
            <div class="emprendimiento-info">
                <div class="emprendimiento-header">
                    <h2 id="emprendimiento-name" class="active">
                        Joyería Yurusti
                    </h2>
                    <div class="edit-form-container inactive">
                        <input class="edit-form-input" id="emprendimiento-name-input" type="text">
                        <small class="error-message inactive">Error, campo no puede estar vacío</small>
                    </div>
                    <div class="edit-buttons-container">
                        <button class="edit-emprendimiento-btn" id="toggle-edition-btn" type="button">
                            <i class="bx bxs-edit"></i>
                            <p class="edit-btn-text">Editar emprendimiento</p>
                        </button>
                        <button class="edit-cancel-btn inactive" id="cancel-edition" type="button">
                            <p class="edit-btn-text">Cancelar cambios</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="emprendimiento-details">
                        <div class="emprendimiento-descripcion">
                            <i class="bx bxs-info-circle"></i>
                            <p class="emprendimiento-text active">
                                Joyería artesanal que ofrece una variedad de productos hechos a mano, incluyendo anillos, pulseras y collares. Cada pieza es única y refleja la pasión por el arte de la joyería.
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                class="edit-form-textarea" 
                                name="emprendimiento-descripcion" 
                                id="emprendimiento-descripcion-textarea"></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                        <div class="emprendimiento-direccion">
                            <i class="bx bxs-map"></i>
                            <p class="emprendimiento-text active">
                                Desamparados, San José, Costa Rica, 100 metros Este de la Plaza de Deportes.
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                class="edit-form-textarea"
                                name="emprendimiento-direccion" 
                                id="emprendimiento-direccion-textarea"></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emprendimiento-image-container">
                <button class="edit-img-btn inactive" id="edit-img-trigger" type="button">
                    <i class="bx bxs-image"></i>
                    Cambiar imagen
                </button>
                <input type="file" id="edit-img-input" accept="image/*" class="edit-img-input inactive">
                <img 
                    src="<%= emprendimiento.imagen ? '/uploads/' + emprendimiento.imagen : '/uploads/default.jpeg' %>" 
                    alt="<%= emprendimiento.titulo %>"
                    id="emprendimiento-img"
                />
            </div>
        </div>
    </main>
    <script src="/js/fetchEmprendimiento.js"></script>
    <script src="/js/editEmprendimientoInfo.js"></script>
</body>
</html>